# User-specific Files

*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific Files (MonoDevelop/Xamarin Studio)
*.userprefs

# Build Results

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio 2015 Cache/Options Directory

.vs/

# MSTest Test Results

[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NUNIT

*.VisualState.xml
TestResult.xml

# Build Results of an ATL Project

[Dd]ebugPS/
[Rr]eleasePS/
dlldata.c

# DNX

project.lock.json
artifacts/

*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# Visual C++ Cache Files

ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile

# Visual Studio Profiler

*.psess
*.vsp
*.vspx
*.sap

# Guidance Automation Toolkit

*.gpState

# ReSharper is a Coding Add-in

_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# JustCode is a Coding Add-in

.JustCode

# TeamCity is a Build Add-in

_TeamCity*

# DotCover is a Code Coverage Tool

*.dotCover

# NCrunch

_NCrunch_*
.*crunch*.local.xml
nCrunchTemp_*

# MightyMoose

*.mm.*
AutoTest.Net/

# Installshield Output Folder

[Ee]xpress/

# DocProject is a Documentation Generator Add-in

DocProject/buildhelp/
DocProject/Help/*.HxT
DocProject/Help/*.HxC
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/Html2
DocProject/Help/html

# Click-Once Directory

publish/

# Publish Web Output

*.[Pp]ublish.xml
*.azurePubxml
*.pubxml
*.publishproj

# NuGet Packages

*.nupkg

# The packages folder can be ignored because of Package Restore

**/packages/*
!**/packages/build/

# NuGet v3's project.json files produces more ignoreable files

*.nuget.props
*.nuget.targets

# Microsoft Azure Build Output

csx/
*.build.csdef

# Microsoft Azure Emulator

ecf/
rcf/

# Microsoft Azure ApplicationInsights config file

ApplicationInsights.config

# Windows Store app package directories and files

AppPackages/
BundleArtifacts/
Package.StoreAssociation.xml
_pkginfo.txt

# Visual Studio Cache Files

*.[Cc]ache
!*.[Cc]ache/

# Others

ClientBin/
~$*
*~
*.dbmdl
*.dbproj.schemaview
*.pfx
*.publishsettings
node_modules/
orleans.codegen.cs

# Backup & report files from converting an old project file
# to a newer Visual Studio version. Backup files are not needed,
# because we have git ;-)

_UpgradeReport_Files/
Backup*/
UpgradeLog*.XML
UpgradeLog*.htm

# Business Intelligence Projects

*.rdl.data
*.bim.layout
*.bim_*.settings

# Microsoft Fakes

FakesAssemblies/

# GhostDoc Plugin Setting File

*.GhostDoc.xml

# Node.js Tools for Visual Studio

.ntvs_analysis.dat

# Visual Studio 6 Build Log

*.plg

# Visual Studio 6 Workspace Options File

*.opt

# Visual Studio LightSwitch build output

**/*.HTMLClient/GeneratedArtifacts
**/*.DesktopClient/GeneratedArtifacts
**/*.DesktopClient/ModelManifest.xml
**/*.Server/GeneratedArtifacts
**/*.Server/ModelManifest.xml
_Pvt_Extensions